@charset "utf-8";
#mob{
	width: 243px;
}

#terepo{
	width: 150px;
}


#areaName{
	border-bottom: 4px solid black; opacity: 1;
}

#mapArea {
	font-size:12px;
	line-height:1.6em;
	width:900px;
	height:170px;
	margin: 80px;
	position:relative;
	margin-top:5px;
	margin-bottom: 100px;
}

#mapArea nav ul {
	margin-bottom:10px;
	height:40px;
}
#mapArea nav li {
	width:140px;
	background-color:black;
	line-height:35px;
	height:30px;
	text-align:center;
	color:white;
	margin-top:1px;
	margin-right:1px;
	float:left;
	cursor:pointer;
	overflow:hidden;
}
#mapArea nav li:hover {
}

#mapArea nav li:first-of-type {
	border-bottom:4px solid orange;
}
#mapArea nav li:last-of-type {
	margin:10;
}

#mapArea > section {
	min-width:585px;
	min-height:610px;
	background-repeat:no-repeat;
	display:none;
	position:relative;
	margin-bottom:4px;
	overflow:hidden;
}
#mapArea > section:first-of-type {
	display:block;
}

#mapArea > section:nth-of-type(1) {
	background-image:url(images/map1.jpg);
}
#mapArea > section:nth-of-type(2) {
	background-image:url(images/map2.jpg);
}
#mapArea > section:nth-of-type(3) {
	background-image:url(images/map3.jpg);
}
#mapArea > section:nth-of-type(4) {
	background-image:url(images/map4.jpg);
}
#mapArea > section:nth-of-type(5) {
	background-image:url(images/map5.jpg);
}
#mapArea > section:nth-of-type(6) {
	background-image:url(images/map6.jpg);
}
#mapArea > section:nth-of-type(7) {
	background-image:url(images/map7.jpg);
}
#mapArea > section:nth-of-type(8) {
	background-image:url(images/map8.jpg);
}
#mapArea > section:nth-of-type(9) {
	background-image:url(images/map9.jpg);
}
#mapArea > section:nth-of-type(10) {
	background-image:url(images/map10.jpg);
}
#mapArea > section:nth-of-type(11) {
	background-image:url(images/map11.jpg);
}
#mapArea > section:nth-of-type(12) {
	background-image:url(images/map12.jpg);
}
#mapArea > section:nth-of-type(13) {
	background-image:url(images/map13.jpg);
}
#mapArea > section:nth-of-type(14) {
	background-image:url(images/map14.jpg);
}
#mapArea > section:nth-of-type(15) {
	background-image:url(images/map15.jpg);
}
#mapArea > section:nth-of-type(16) {
	background-image:url(images/map16.jpg);
}
#mapArea > section:nth-of-type(17) {
	background-image:url(images/map17.jpg);
}
#mapArea > section:nth-of-type(18) {
	background-image:url(images/map18.jpg);
}
#mapArea > section:nth-of-type(19) {
	background-image:url(images/map19.jpg);
}
#mapArea > section:nth-of-type(20) {
	background-image:url(images/map20.jpg);
}
#mapArea > section:nth-of-type(21) {
	background-image:url(images/map21.jpg);
}
#mapArea > section:nth-of-type(22) {
	background-image:url(images/map22.jpg);
}
#mapArea > section:nth-of-type(23) {
	background-image:url(images/map23.jpg);
}
#mapArea > section:nth-of-type(24) {
	background-image:url(images/map24.jpg);
}
#mapArea > section:nth-of-type(25) {
	background-image:url(images/map25.jpg);
}
#mapArea > section:nth-of-type(26) {
	background-image:url(images/map26.jpg);
}
#mapArea > section:nth-of-type(27) {
	background-image:url(images/map27.jpg);
}
#mapArea > section:nth-of-type(28) {
	background-image:url(images/map28.jpg);
}
#mapArea > section:nth-of-type(29) {
	background-image:url(images/map29.jpg);
}
#mapArea > section:nth-of-type(30) {
	background-image:url(images/map30.jpg);
}



#mapArea > section form {
	width:275px;
	float:right;
}
#mapArea > section form ul {
	border:1px solid #ccc;
	padding:5px;
	overflow:auto;
}

#mapArea > section form img{
	position:absolute;
	top:0;
	left:0;
	z-index:100;
}
#mapArea > section form span{
	position:absolute;
	top:0;
	left:0;
	z-index:200;
	color:white;
	font-weight:bold;
	font-size:12px;
	text-shadow:0px 0px 4px #000,0px 0px 2px #000;
}

#mapArea > section ul {
	margin-bottom:15px;
}

#mapArea > section li {
	border-bottom:1px dotted #ccc;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}
#mapArea > section li:hover {
	background:#FFF5DF;
}
#mapArea > section li input {
	margin-right:3px;
}

#mapArea > section li label {
	display:block;
	height:inherit;
}
/*******************************************/
#arrmap {
	font-size:12px;
	line-height:1.6em;
	width:745px;
	height:170px;
	margin: 80px;
	position:relative;
	margin-top:5px;
	margin-bottom: 100px;
}

#arrmap nav ul {
	margin-bottom:10px;
	height:40px;
}
#arrmap nav li {
	width:140px;
	background-color:black;
	line-height:35px;
	height:30px;
	text-align:center;
	color:white;
	margin-top:1px;
	margin-right:1px;
	float:left;
	cursor:pointer;
	overflow:hidden;
}
#arrmap nav li:hover {
}

#arrmap nav li:first-of-type {
	border-bottom:4px solid orange;
}
#arrmap nav li:last-of-type {
	margin:10;
}

#arrmap > section {
	min-width:585px;
	min-height:610px;
	background-repeat:no-repeat;
	display:none;
	position:relative;
	margin-bottom:4px;
	overflow:hidden;
}
#arrmap > section:first-of-type {
	display:block;
}


#arrmap > section:nth-of-type(1) {	background-image:url(images/none.png);	}/*初期状態でマップは表示させないので1つずつズラす*/
#arrmap > section:nth-of-type(2) {	  background-image:url(images/arr/unnamed_1.jpg);	}
#arrmap > section:nth-of-type(3) {	  background-image:url(images/arr/unnamed_2.jpg);	}
#arrmap > section:nth-of-type(4) {	  background-image:url(images/arr/unnamed_3.jpg);	}
#arrmap > section:nth-of-type(5) {	  background-image:url(images/arr/unnamed_4.jpg);	}
#arrmap > section:nth-of-type(6) {	  background-image:url(images/arr/unnamed_5.jpg);	}
#arrmap > section:nth-of-type(7) {	  background-image:url(images/arr/unnamed_6.jpg);	}
#arrmap > section:nth-of-type(8) {	  background-image:url(images/arr/unnamed_7.jpg);	}
#arrmap > section:nth-of-type(9) {	  background-image:url(images/arr/unnamed_8.jpg);	}
#arrmap > section:nth-of-type(10) {	  background-image:url(images/arr/unnamed_9.jpg);	}
#arrmap > section:nth-of-type(11) {	  background-image:url(images/arr/unnamed_10.jpg);	}
#arrmap > section:nth-of-type(12) {	  background-image:url(images/arr/unnamed_11.jpg);	}
#arrmap > section:nth-of-type(13) {	  background-image:url(images/arr/unnamed_12.jpg);	}
#arrmap > section:nth-of-type(14) {	  background-image:url(images/arr/unnamed_13.jpg);	}
#arrmap > section:nth-of-type(15) {	  background-image:url(images/arr/unnamed_14.jpg);	}
#arrmap > section:nth-of-type(16) {	  background-image:url(images/arr/unnamed_15.jpg);	}
#arrmap > section:nth-of-type(17) {	  background-image:url(images/arr/unnamed_16.jpg);	}
#arrmap > section:nth-of-type(18) {	  background-image:url(images/arr/unnamed_17.jpg);	}
#arrmap > section:nth-of-type(19) {	  background-image:url(images/arr/unnamed_18.jpg);	}
#arrmap > section:nth-of-type(20) {	  background-image:url(images/arr/unnamed_19.jpg);	}
#arrmap > section:nth-of-type(21) {	  background-image:url(images/arr/unnamed_20.jpg);	}
#arrmap > section:nth-of-type(22) {	  background-image:url(images/arr/unnamed_21.jpg);	}
#arrmap > section:nth-of-type(23) {	  background-image:url(images/arr/unnamed_22.jpg);	}
#arrmap > section:nth-of-type(24) {	  background-image:url(images/arr/unnamed_23.jpg);	}
#arrmap > section:nth-of-type(25) {	  background-image:url(images/arr/unnamed_24.jpg);	}
#arrmap > section:nth-of-type(26) {	  background-image:url(images/arr/unnamed_25.jpg);	}
#arrmap > section:nth-of-type(27) {	  background-image:url(images/arr/unnamed_26.jpg);	}
#arrmap > section:nth-of-type(28) {	  background-image:url(images/arr/unnamed_27.jpg);	}
#arrmap > section:nth-of-type(29) {	  background-image:url(images/arr/unnamed_28.jpg);	}
#arrmap > section:nth-of-type(30) {	  background-image:url(images/arr/unnamed_29.jpg);	}
#arrmap > section:nth-of-type(31) {	  background-image:url(images/arr/unnamed_30.jpg);	}
#arrmap > section:nth-of-type(32) {	  background-image:url(images/arr/unnamed_31.jpg);	}
#arrmap > section:nth-of-type(33) {	  background-image:url(images/arr/unnamed_32.jpg);	}
#arrmap > section:nth-of-type(34) {	  background-image:url(images/arr/unnamed_33.jpg);	}
#arrmap > section:nth-of-type(35) {	  background-image:url(images/arr/unnamed_34.jpg);	}
#arrmap > section:nth-of-type(36) {	  background-image:url(images/arr/unnamed_35.jpg);	}
#arrmap > section:nth-of-type(37) {	  background-image:url(images/arr/unnamed_36.jpg);	}
#arrmap > section:nth-of-type(38) {	  background-image:url(images/arr/unnamed_37.jpg);	}
#arrmap > section:nth-of-type(39) {	  background-image:url(images/arr/unnamed_38.jpg);	}
#arrmap > section:nth-of-type(40) {	  background-image:url(images/arr/unnamed_39.jpg);	}
#arrmap > section:nth-of-type(41) {	  background-image:url(images/arr/unnamed_40.jpg);	}
#arrmap > section:nth-of-type(42) {	  background-image:url(images/arr/unnamed_41.jpg);	}
#arrmap > section:nth-of-type(43) {	  background-image:url(images/arr/unnamed_42.jpg);	}
#arrmap > section:nth-of-type(44) {	  background-image:url(images/arr/unnamed_43.jpg);	}
#arrmap > section:nth-of-type(45) {	  background-image:url(images/arr/unnamed_44.jpg);	}
#arrmap > section:nth-of-type(46) {	  background-image:url(images/arr/unnamed_45.jpg);	}
#arrmap > section:nth-of-type(47) {	  background-image:url(images/arr/unnamed_46.jpg);	}
#arrmap > section:nth-of-type(48) {	  background-image:url(images/arr/unnamed_47.jpg);	}
#arrmap > section:nth-of-type(49) {	  background-image:url(images/arr/unnamed_48.jpg);	}
#arrmap > section:nth-of-type(50) {	  background-image:url(images/arr/unnamed_49.jpg);	}
#arrmap > section:nth-of-type(51) {	  background-image:url(images/arr/unnamed_50.jpg);	}
#arrmap > section:nth-of-type(52) {	  background-image:url(images/arr/unnamed_51.jpg);	}
#arrmap > section:nth-of-type(53) {	  background-image:url(images/arr/unnamed_52.jpg);	}
#arrmap > section:nth-of-type(54) {	  background-image:url(images/arr/unnamed_53.jpg);	}
#arrmap > section:nth-of-type(55) {	  background-image:url(images/arr/unnamed_54.jpg);	}
#arrmap > section:nth-of-type(56) {	  background-image:url(images/arr/unnamed_55.jpg);	}
#arrmap > section:nth-of-type(57) {	  background-image:url(images/arr/unnamed_56.jpg);	}
#arrmap > section:nth-of-type(58) {	  background-image:url(images/arr/unnamed_57.jpg);	}
#arrmap > section:nth-of-type(59) {	  background-image:url(images/arr/unnamed_58.jpg);	}
#arrmap > section:nth-of-type(60) {	  background-image:url(images/arr/unnamed_59.jpg);	}
#arrmap > section:nth-of-type(61) {	  background-image:url(images/arr/unnamed_60.jpg);	}
#arrmap > section:nth-of-type(62) {	  background-image:url(images/arr/unnamed_61.jpg);	}
#arrmap > section:nth-of-type(63) {	  background-image:url(images/arr/unnamed_62.jpg);	}
#arrmap > section:nth-of-type(64) {	  background-image:url(images/arr/unnamed_63.jpg);	}
#arrmap > section:nth-of-type(65) {	  background-image:url(images/arr/unnamed_64.jpg);	}
#arrmap > section:nth-of-type(66) {	  background-image:url(images/arr/unnamed_65.jpg);	}
#arrmap > section:nth-of-type(67) {	  background-image:url(images/arr/unnamed_66.jpg);	}
#arrmap > section:nth-of-type(68) {	  background-image:url(images/arr/unnamed_67.jpg);	}
#arrmap > section:nth-of-type(69) {	  background-image:url(images/arr/unnamed_68.jpg);	}
#arrmap > section:nth-of-type(70) {	  background-image:url(images/arr/unnamed_69.jpg);	}
#arrmap > section:nth-of-type(71) {	  background-image:url(images/arr/unnamed_70.jpg);	}
#arrmap > section:nth-of-type(72) {	  background-image:url(images/arr/unnamed_71.jpg);	}
#arrmap > section:nth-of-type(73) {	  background-image:url(images/arr/unnamed_72.jpg);	}
#arrmap > section:nth-of-type(74) {	  background-image:url(images/arr/unnamed_73.jpg);	}
#arrmap > section:nth-of-type(75) {	  background-image:url(images/arr/unnamed_74.jpg);	}
#arrmap > section:nth-of-type(76) {	  background-image:url(images/arr/unnamed_75.jpg);	}
#arrmap > section:nth-of-type(77) {	  background-image:url(images/arr/unnamed_76.jpg);	}
#arrmap > section:nth-of-type(78) {	  background-image:url(images/arr/unnamed_77.jpg);	}
#arrmap > section:nth-of-type(79) {	  background-image:url(images/arr/unnamed_78.jpg);	}
#arrmap > section:nth-of-type(80) {	  background-image:url(images/arr/unnamed_79.jpg);	}
#arrmap > section:nth-of-type(81) {	  background-image:url(images/arr/unnamed_80.jpg);	}
#arrmap > section:nth-of-type(82) {	  background-image:url(images/arr/unnamed_81.jpg);	}
#arrmap > section:nth-of-type(83) {	  background-image:url(images/arr/unnamed_82.jpg);	}
#arrmap > section:nth-of-type(84) {	  background-image:url(images/arr/unnamed_83.jpg);	}
#arrmap > section:nth-of-type(85) {	  background-image:url(images/arr/unnamed_84.jpg);	}
#arrmap > section:nth-of-type(86) {	  background-image:url(images/arr/unnamed_85.jpg);	}
#arrmap > section:nth-of-type(87) {	  background-image:url(images/arr/unnamed_86.jpg);	}
#arrmap > section:nth-of-type(88) {	  background-image:url(images/arr/unnamed_87.jpg);	}
#arrmap > section:nth-of-type(89) {	  background-image:url(images/arr/unnamed_88.jpg);	}
#arrmap > section:nth-of-type(90) {	  background-image:url(images/arr/unnamed_89.jpg);	}
#arrmap > section:nth-of-type(91) {	  background-image:url(images/arr/unnamed_90.jpg);	}
#arrmap > section:nth-of-type(92) {	  background-image:url(images/arr/unnamed_91.jpg);	}
#arrmap > section:nth-of-type(93) {	  background-image:url(images/arr/unnamed_92.jpg);	}
#arrmap > section:nth-of-type(94) {	  background-image:url(images/arr/unnamed_93.jpg);	}
#arrmap > section:nth-of-type(95) {	  background-image:url(images/arr/unnamed_94.jpg);	}
#arrmap > section:nth-of-type(96) {	  background-image:url(images/arr/unnamed_95.jpg);	}
#arrmap > section:nth-of-type(97) {	  background-image:url(images/arr/unnamed_96.jpg);	}
#arrmap > section:nth-of-type(98) {	  background-image:url(images/arr/unnamed_97.jpg);	}
#arrmap > section:nth-of-type(99) {	  background-image:url(images/arr/unnamed_98.jpg);	}
#arrmap > section:nth-of-type(100) {	  background-image:url(images/arr/unnamed_99.jpg);	}
#arrmap > section:nth-of-type(101) {	  background-image:url(images/arr/unnamed_100.jpg);	}
#arrmap > section:nth-of-type(102) {	  background-image:url(images/arr/unnamed_101.jpg);	}
#arrmap > section:nth-of-type(103) {	  background-image:url(images/arr/unnamed_102.jpg);	}
#arrmap > section:nth-of-type(104) {	  background-image:url(images/arr/unnamed_103.jpg);	}
#arrmap > section:nth-of-type(105) {	  background-image:url(images/arr/unnamed_104.jpg);	}
#arrmap > section:nth-of-type(106) {	  background-image:url(images/arr/unnamed_105.jpg);	}
#arrmap > section:nth-of-type(107) {	  background-image:url(images/arr/unnamed_106.jpg);	}
#arrmap > section:nth-of-type(108) {	  background-image:url(images/arr/unnamed_107.jpg);	}
#arrmap > section:nth-of-type(109) {	  background-image:url(images/arr/unnamed_108.jpg);	}
#arrmap > section:nth-of-type(110) {	  background-image:url(images/arr/unnamed_109.jpg);	}
#arrmap > section:nth-of-type(111) {	  background-image:url(images/arr/unnamed_110.jpg);	}
#arrmap > section:nth-of-type(112) {	  background-image:url(images/arr/unnamed_111.jpg);	}
#arrmap > section:nth-of-type(113) {	  background-image:url(images/arr/unnamed_112.jpg);	}
#arrmap > section:nth-of-type(114) {	  background-image:url(images/arr/unnamed_113.jpg);	}
#arrmap > section:nth-of-type(115) {	  background-image:url(images/arr/unnamed_114.jpg);	}
#arrmap > section:nth-of-type(116) {	  background-image:url(images/arr/unnamed_115.jpg);	}
#arrmap > section:nth-of-type(117) {	  background-image:url(images/arr/unnamed_116.jpg);	}
#arrmap > section:nth-of-type(118) {	  background-image:url(images/arr/unnamed_117.jpg);	}
#arrmap > section:nth-of-type(119) {	  background-image:url(images/arr/unnamed_118.jpg);	}
#arrmap > section:nth-of-type(120) {	  background-image:url(images/arr/unnamed_119.jpg);	}
#arrmap > section:nth-of-type(121) {	  background-image:url(images/arr/unnamed_120.jpg);	}
#arrmap > section:nth-of-type(122) {	  background-image:url(images/arr/unnamed_121.jpg);	}
#arrmap > section:nth-of-type(123) {	  background-image:url(images/arr/unnamed_122.jpg);	}
#arrmap > section:nth-of-type(124) {	  background-image:url(images/arr/unnamed_123.jpg);	}
#arrmap > section:nth-of-type(125) {	  background-image:url(images/arr/unnamed_124.jpg);	}
#arrmap > section:nth-of-type(126) {	  background-image:url(images/arr/unnamed_125.jpg);	}
#arrmap > section:nth-of-type(127) {	  background-image:url(images/arr/unnamed_126.jpg);	}
#arrmap > section:nth-of-type(128) {	  background-image:url(images/arr/unnamed_127.jpg);	}
#arrmap > section:nth-of-type(129) {	  background-image:url(images/arr/unnamed_128.jpg);	}
#arrmap > section:nth-of-type(130) {	  background-image:url(images/arr/unnamed_129.jpg);	}
#arrmap > section:nth-of-type(131) {	  background-image:url(images/arr/unnamed_130.jpg);	}
#arrmap > section:nth-of-type(132) {	  background-image:url(images/arr/unnamed_131.jpg);	}
#arrmap > section:nth-of-type(133) {	  background-image:url(images/arr/unnamed_132.jpg);	}
#arrmap > section:nth-of-type(134) {	  background-image:url(images/arr/unnamed_133.jpg);	}
#arrmap > section:nth-of-type(135) {	  background-image:url(images/arr/unnamed_134.jpg);	}
#arrmap > section:nth-of-type(136) {	  background-image:url(images/arr/unnamed_135.jpg);	}
#arrmap > section:nth-of-type(137) {	  background-image:url(images/arr/unnamed_136.jpg);	}
#arrmap > section:nth-of-type(138) {	  background-image:url(images/arr/unnamed_137.jpg);	}
#arrmap > section:nth-of-type(139) {	  background-image:url(images/arr/unnamed_138.jpg);	}
#arrmap > section:nth-of-type(140) {	  background-image:url(images/arr/unnamed_139.jpg);	}
#arrmap > section:nth-of-type(141) {	  background-image:url(images/arr/unnamed_140.jpg);	}
#arrmap > section:nth-of-type(142) {	  background-image:url(images/arr/unnamed_141.jpg);	}
#arrmap > section:nth-of-type(143) {	  background-image:url(images/arr/unnamed_142.jpg);	}
#arrmap > section:nth-of-type(144) {	  background-image:url(images/arr/unnamed_143.jpg);	}
#arrmap > section:nth-of-type(145) {	  background-image:url(images/arr/unnamed_144.jpg);	}
#arrmap > section:nth-of-type(146) {	  background-image:url(images/arr/unnamed_145.jpg);	}
#arrmap > section:nth-of-type(147) {	  background-image:url(images/arr/unnamed_146.jpg);	}
#arrmap > section:nth-of-type(148) {	  background-image:url(images/arr/unnamed_147.jpg);	}
#arrmap > section:nth-of-type(149) {	  background-image:url(images/arr/unnamed_148.jpg);	}
#arrmap > section:nth-of-type(150) {	  background-image:url(images/arr/unnamed_149.jpg);	}
#arrmap > section:nth-of-type(151) {	  background-image:url(images/arr/unnamed_150.jpg);	}
#arrmap > section:nth-of-type(152) {	  background-image:url(images/arr/unnamed_151.jpg);	}
#arrmap > section:nth-of-type(153) {	  background-image:url(images/arr/unnamed_152.jpg);	}
#arrmap > section:nth-of-type(154) {	  background-image:url(images/arr/unnamed_153.jpg);	}
#arrmap > section:nth-of-type(155) {	  background-image:url(images/arr/unnamed_154.jpg);	}
#arrmap > section:nth-of-type(156) {	  background-image:url(images/arr/unnamed_155.jpg);	}
#arrmap > section:nth-of-type(157) {	  background-image:url(images/arr/unnamed_156.jpg);	}
#arrmap > section:nth-of-type(158) {	  background-image:url(images/arr/unnamed_157.jpg);	}
#arrmap > section:nth-of-type(159) {	  background-image:url(images/arr/unnamed_158.jpg);	}
#arrmap > section:nth-of-type(160) {	  background-image:url(images/arr/unnamed_159.jpg);	}
#arrmap > section:nth-of-type(161) {	  background-image:url(images/arr/unnamed_160.jpg);	}
#arrmap > section:nth-of-type(162) {	  background-image:url(images/arr/unnamed_161.jpg);	}
#arrmap > section:nth-of-type(163) {	  background-image:url(images/arr/unnamed_162.jpg);	}
#arrmap > section:nth-of-type(164) {	  background-image:url(images/arr/unnamed_163.jpg);	}
#arrmap > section:nth-of-type(165) {	  background-image:url(images/arr/unnamed_164.jpg);	}
#arrmap > section:nth-of-type(166) {	  background-image:url(images/arr/unnamed_165.jpg);	}
#arrmap > section:nth-of-type(167) {	  background-image:url(images/arr/unnamed_166.jpg);	}
#arrmap > section:nth-of-type(168) {	  background-image:url(images/arr/unnamed_167.jpg);	}
#arrmap > section:nth-of-type(169) {	  background-image:url(images/arr/unnamed_168.jpg);	}
#arrmap > section:nth-of-type(170) {	  background-image:url(images/arr/unnamed_169.jpg);	}
#arrmap > section:nth-of-type(171) {	  background-image:url(images/arr/unnamed_170.jpg);	}
#arrmap > section:nth-of-type(172) {	  background-image:url(images/arr/unnamed_171.jpg);	}
#arrmap > section:nth-of-type(173) {	  background-image:url(images/arr/unnamed_172.jpg);	}
#arrmap > section:nth-of-type(174) {	  background-image:url(images/arr/unnamed_173.jpg);	}
#arrmap > section:nth-of-type(175) {	  background-image:url(images/arr/unnamed_174.jpg);	}
#arrmap > section:nth-of-type(176) {	  background-image:url(images/arr/unnamed_175.jpg);	}
#arrmap > section:nth-of-type(177) {	  background-image:url(images/arr/unnamed_176.jpg);	}
#arrmap > section:nth-of-type(178) {	  background-image:url(images/arr/unnamed_177.jpg);	}
#arrmap > section:nth-of-type(179) {	  background-image:url(images/arr/unnamed_178.jpg);	}
#arrmap > section:nth-of-type(180) {	  background-image:url(images/arr/unnamed_179.jpg);	}
#arrmap > section:nth-of-type(181) {	  background-image:url(images/arr/unnamed_180.jpg);	}
#arrmap > section:nth-of-type(182) {	  background-image:url(images/arr/unnamed_181.jpg);	}
#arrmap > section:nth-of-type(183) {	  background-image:url(images/arr/unnamed_182.jpg);	}
#arrmap > section:nth-of-type(184) {	  background-image:url(images/arr/unnamed_183.jpg);	}
#arrmap > section:nth-of-type(185) {	  background-image:url(images/arr/unnamed_184.jpg);	}
#arrmap > section:nth-of-type(186) {	  background-image:url(images/arr/unnamed_185.jpg);	}
#arrmap > section:nth-of-type(187) {	  background-image:url(images/arr/unnamed_186.jpg);	}
#arrmap > section:nth-of-type(188) {	  background-image:url(images/arr/unnamed_187.jpg);	}
#arrmap > section:nth-of-type(189) {	  background-image:url(images/arr/unnamed_188.jpg);	}
#arrmap > section:nth-of-type(190) {	  background-image:url(images/arr/unnamed_189.jpg);	}
#arrmap > section:nth-of-type(191) {	  background-image:url(images/arr/unnamed_190.jpg);	}
#arrmap > section:nth-of-type(192) {	  background-image:url(images/arr/unnamed_191.jpg);	}
#arrmap > section:nth-of-type(193) {	  background-image:url(images/arr/unnamed_192.jpg);	}
#arrmap > section:nth-of-type(194) {	  background-image:url(images/arr/unnamed_193.jpg);	}
#arrmap > section:nth-of-type(195) {	  background-image:url(images/arr/unnamed_194.jpg);	}
#arrmap > section:nth-of-type(196) {	  background-image:url(images/arr/unnamed_195.jpg);	}
#arrmap > section:nth-of-type(197) {	  background-image:url(images/arr/unnamed_196.jpg);	}
#arrmap > section:nth-of-type(198) {	  background-image:url(images/arr/unnamed_197.jpg);	}
#arrmap > section:nth-of-type(199) {	  background-image:url(images/arr/unnamed_198.jpg);	}
#arrmap > section:nth-of-type(200) {	  background-image:url(images/arr/unnamed_199.jpg);	}
#arrmap > section:nth-of-type(201) {	  background-image:url(images/arr/unnamed_200.jpg);	}
#arrmap > section:nth-of-type(202) {	  background-image:url(images/arr/unnamed_201.jpg);	}
#arrmap > section:nth-of-type(203) {	  background-image:url(images/arr/unnamed_202.jpg);	}
#arrmap > section:nth-of-type(204) {	  background-image:url(images/arr/unnamed_203.jpg);	}
#arrmap > section:nth-of-type(205) {	  background-image:url(images/arr/unnamed_204.jpg);	}
#arrmap > section:nth-of-type(206) {	  background-image:url(images/arr/unnamed_205.jpg);	}
#arrmap > section:nth-of-type(207) {	  background-image:url(images/arr/unnamed_206.jpg);	}
#arrmap > section:nth-of-type(208) {	  background-image:url(images/arr/unnamed_207.jpg);	}
#arrmap > section:nth-of-type(209) {	  background-image:url(images/arr/unnamed_208.jpg);	}
#arrmap > section:nth-of-type(210) {	  background-image:url(images/arr/unnamed_209.jpg);	}
#arrmap > section:nth-of-type(211) {	  background-image:url(images/arr/unnamed_210.jpg);	}
#arrmap > section:nth-of-type(212) {	  background-image:url(images/arr/unnamed_211.jpg);	}
#arrmap > section:nth-of-type(213) {	  background-image:url(images/arr/unnamed_212.jpg);	}
#arrmap > section:nth-of-type(214) {	  background-image:url(images/arr/unnamed_213.jpg);	}
#arrmap > section:nth-of-type(215) {	  background-image:url(images/arr/unnamed_214.jpg);	}
#arrmap > section:nth-of-type(216) {	  background-image:url(images/arr/unnamed_215.jpg);	}
#arrmap > section:nth-of-type(217) {	  background-image:url(images/arr/unnamed_216.jpg);	}
#arrmap > section:nth-of-type(218) {	  background-image:url(images/arr/unnamed_217.jpg);	}
#arrmap > section:nth-of-type(219) {	  background-image:url(images/arr/unnamed_218.jpg);	}
#arrmap > section:nth-of-type(220) {	  background-image:url(images/arr/unnamed_219.jpg);	}
#arrmap > section:nth-of-type(221) {	  background-image:url(images/arr/unnamed_220.jpg);	}
#arrmap > section:nth-of-type(222) {	  background-image:url(images/arr/unnamed_221.jpg);	}
#arrmap > section:nth-of-type(223) {	  background-image:url(images/arr/unnamed_222.jpg);	}
#arrmap > section:nth-of-type(224) {	  background-image:url(images/arr/unnamed_223.jpg);	}
#arrmap > section:nth-of-type(225) {	  background-image:url(images/arr/unnamed_224.jpg);	}
#arrmap > section:nth-of-type(226) {	  background-image:url(images/arr/unnamed_225.jpg);	}
#arrmap > section:nth-of-type(227) {	  background-image:url(images/arr/unnamed_226.jpg);	}
#arrmap > section:nth-of-type(228) {	  background-image:url(images/arr/unnamed_227.jpg);	}
#arrmap > section:nth-of-type(229) {	  background-image:url(images/arr/unnamed_228.jpg);	}
#arrmap > section:nth-of-type(230) {	  background-image:url(images/arr/unnamed_229.jpg);	}
#arrmap > section:nth-of-type(231) {	  background-image:url(images/arr/unnamed_230.jpg);	}
#arrmap > section:nth-of-type(232) {	  background-image:url(images/arr/unnamed_231.jpg);	}
#arrmap > section:nth-of-type(233) {	  background-image:url(images/arr/unnamed_232.jpg);	}
#arrmap > section:nth-of-type(234) {	  background-image:url(images/arr/unnamed_233.jpg);	}
#arrmap > section:nth-of-type(235) {	  background-image:url(images/arr/unnamed_234.jpg);	}
#arrmap > section:nth-of-type(236) {	  background-image:url(images/arr/unnamed_235.jpg);	}


.ARR_00{ display: none;}
.ARR_01{ display: none;}
.ARR_02{ display: none;}
.ARR_03{ display: none;}
.ARR_04{ display: none;}
.ARR_05{ display: none;}
.ARR_06{ display: none;}
.ARR_07{ display: none;}
.ARR_08{ display: none;}
.ARR_09{ display: none;}
.ARR_10{ display: none;}
.ARR_11{ display: none;}
.ARR_12{ display: none;}
.ARR_13{ display: none;}
.ARR_14{ display: none;}
.ARR_15{ display: none;}
.ARR_16{ display: none;}
.ARR_17{ display: none;}
.ARR_18{ display: none;}
.ARR_19{ display: none;}
.ARR_20{ display: none;}
.ARR_21{ display: none;}
.ARR_22{ display: none;}
.ARR_23{ display: none;}
.ARR_24{ display: none;}
.ARR_25{ display: none;}
.ARR_26{ display: none;}
.ARR_27{ display: none;}
.ARR_28{ display: none;}
.ARR_29{ display: none;}
.ARR_30{ display: none;}
.ARR_31{ display: none;}
.ARR_32{ display: none;}
.ARR_33{ display: none;}
.ARR_34{ display: none;}
.ARR_35{ display: none;}
.ARR_36{ display: none;}
.ARR_37{ display: none;}
.ARR_38{ display: none;}
.ARR_39{ display: none;}
.ARR_40{ display: none;}
.ARR_41{ display: none;}
.ARR_42{ display: none;}
.ARR_43{ display: none;}
.ARR_44{ display: none;}
.ARR_45{ display: none;}
.ARR_46{ display: none;}
.ARR_47{ display: none;}

#arrmap > section form {
	width:200px;
	float:right;
}
#arrmap > section form ul {
	border:1px solid #ccc;
	padding:5px;
	overflow:auto;
}

#arrmap > section form img{
	position:absolute;
	top:0;
	left:0;
	z-index:100;
}
#arrmap > section form span{
	position:absolute;
	top:0;
	left:0;
	z-index:200;
	color:white;
	font-weight:bold;
	font-size:12px;
	text-shadow:0px 0px 4px #000,0px 0px 2px #000;
}

#arrmap > section ul {
	margin-bottom:15px;
}

#arrmap > section li {
	border-bottom:1px dotted #ccc;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}
#arrmap > section li:hover {
	background:#FFF5DF;
}
#arrmap > section li input {
	margin-right:3px;
}

#arrmap > section li label {
	display:block;
	height:inherit;
}


#allReset {
	position:relative;
	left:0;
	top:-20px;
	font-size:14px;
}
#allReset input {
	border:1px solid black;
	background:#444;
	color:white;
	padding:3px 10px;
	outline:none;
	font-size:12px;
}
#allReset input:hover {
	background-color:rgba(0,0,0,.6);
}
#allReset span {
	padding-left:15px;
}
#allReset p {
	font-size: 17px;
	margin-top: 1em;
}
#allReset a {
	color: #333;
}
#allReset a:hover {
	color: darkred;
}

.ieInfo {
	font-family:Verdana,"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	display:block;
	color:red;
	font-size:14px;
	width:80%;
	margin:20px auto;
	border:1px solid red;
	padding:5px;
}

.takasa{
	height: 90px;
}